db.sqlite3
venv
venv/*
__pycache__/*
migrations/*
../db/
../logs/
.env
db
db/*
.vscode/*

accounts/__pycache__/*
accounts/__pycache__
# accounts/migrations/*

issues/__pycache__/*
issues/__pycache__
# issues/migrations/*

mini_issue_track_be/__pycache__/*
mini_issue_track_be/__pycache__


log
logs/*
media/pdf_files/*
!media/pdf_files/.gitkeep

media/data/*
!media/data/.gitkeep

media/petition_format/*
!media/petition_format/.gitkeep

media/petitions/*
!media/petitions/.gitkeep

general/__pycache__
mongo_data/

user/__pycache__/*
user/__pycache__
user/migrations/*

court/__pycache__/*
court/__pycache__
court/migrations/*

chatlog/__pycache__/*
chatlog/__pycache__
chatlog/migrations/*



error.txt